// $colour_one: #CEC9C9
// $colour_two: #9AB0AA
// $colour_three: #728382
// $colour_four: #61676B
// $colour_five: #675D5D

// $colour_one: #242582
// $colour_two: #553d67
// $colour_three: #f64c72
// $colour_four: #99738e
// $colour_five: #2f2fa2

// $colour_one: #05386b
// $colour_two: #379683
// $colour_three: #5cdb95
// $colour_four: #8ee4af
// $colour_five: #edf5e1


// $colour_one: #8ee4af
// $colour_two: #edf5e1
// $colour_three: #5cdb95
// $colour_four: #907163
// $colour_five: #379683

// $colour_white_1: #fff 
// $colour_black: #000
// $colour_white_2: #ececec
// $colour_white_3: #dfdfdf


$colour_one: #fff
$colour_two: #ececec
$colour_three: #dfdfdf
$colour_four: #000000
// $colour_five: #2f2fa2


body.dark 
    $colour_one: #000000 
    $colour_two: #c23131
    $colour_three: #5938a7
    $colour_four: #ffffff
